<a href="https://colab.research.google.com/github/tjdrhks0808/Project-Child_Road_Accident/blob/main/Osan_Data_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# -*- coding: <encoding-name> -*-

# 데이터 전처리

## import 및 데이터 불러오기

In [ ]:
from geoband.API import *

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import folium
import json
import geopandas as gpd
from shapely.geometry import Point, Polygon, LineString

import pydeck as pdk
import shapefile
import os

In [ ]:
GetCompasData('SBJ_2012_001', '1', '1.오산시_주정차단속(2018~2020).csv')
GetCompasData('SBJ_2012_001', '2', '2.오산시_어린이교통사고_격자.geojson')
GetCompasData('SBJ_2012_001', '3', '3.오산시_차량등록현황_격자.geojson')
GetCompasData('SBJ_2012_001', '4', '4.오산시_연령별_거주인구격자(총인구).geojson')
GetCompasData('SBJ_2012_001', '5', '5.오산시_연령별_거주인구격자(유소년).geojson')
GetCompasData('SBJ_2012_001', '6', '6.오산시_연령별_거주인구격자(생산가능인구).geojson')
GetCompasData('SBJ_2012_001', '7', '7.오산시_연령별_거주인구격자(고령).geojson')
GetCompasData('SBJ_2012_001', '8', '8.오산시_유동인구(2019).csv')
GetCompasData('SBJ_2012_001', '9', '9.오산시_어린이보호구역.csv')
GetCompasData('SBJ_2012_001', '10', '10.오산시_학교위치정보.csv')
GetCompasData('SBJ_2012_001', '11', '11.오산시_초등학교_통학구.geojson')
GetCompasData('SBJ_2012_001', '12', '12.오산시_중학교_학군.geojson')
GetCompasData('SBJ_2012_001', '13', '13.오산시_어린이집_유치원현황.csv')
GetCompasData('SBJ_2012_001', '14', '14.오산시_기상데이터(2010~2019).csv')
GetCompasData('SBJ_2012_001', '15', '15.오산시_무인교통단속카메라.csv')
GetCompasData('SBJ_2012_001', '16', '16.오산시_도로안전표지표준데이터.csv')
GetCompasData('SBJ_2012_001', '17', '17.오산시_횡단보도.geojson')
GetCompasData('SBJ_2012_001', '18', '18.오산시_과속방지턱표준데이터.csv')
GetCompasData('SBJ_2012_001', '19', '19.오산시_신호등.geojson')
GetCompasData('SBJ_2012_001', '20', '20.오산시_CCTV설치현황.csv')
GetCompasData('SBJ_2012_001', '21', '21.오산시_인도.geojson')
GetCompasData('SBJ_2012_001', '22', '22.오산시_버스정류장.csv')
GetCompasData('SBJ_2012_001', '23', '23.오산시_상세도로망_LV6.geojson')
GetCompasData('SBJ_2012_001', '24', '24.평일_전일,시간대별_오산시_추정교통량_Level6.csv')
GetCompasData('SBJ_2012_001', '25', '25.평일_전일_오산시_혼잡빈도강도_Level6.csv')
GetCompasData('SBJ_2012_001', '26', '26.평일_전일_오산시_혼잡시간강도_Level6.csv')
GetCompasData('SBJ_2012_001', '27', '27.오산시_도로명주소_건물.geojson')
GetCompasData('SBJ_2012_001', '28', '28.오산시_건물연면적_격자.geojson')
GetCompasData('SBJ_2012_001', '29', '29.오산시_체육시설현황.csv')
GetCompasData('SBJ_2012_001', '30', '30.오산시_학원_및_교습소_현황.csv')
GetCompasData('SBJ_2012_001', '31', '31.오산시_법정경계(시군구).geojson')
GetCompasData('SBJ_2012_001', '32', '32.오산시_행정경계(읍면동).geojson')
GetCompasData('SBJ_2012_001', '33', '33.오산시_법정경계(읍면동).geojson')
GetCompasData('SBJ_2012_001', '34', '34.오산시_지적도.geojson')
GetCompasData('SBJ_2012_001', '35', '35.코드정의서.xlsx')

In [ ]:
data1 = pd.read_csv('1.오산시_주정차단속(2018~2020).csv')
data2 = gpd.read_file('2.오산시_어린이교통사고_격자.geojson')
data3 = gpd.read_file('3.오산시_차량등록현황_격자.geojson')
data4 = gpd.read_file('4.오산시_연령별_거주인구격자(총인구).geojson')
data5 = gpd.read_file('5.오산시_연령별_거주인구격자(유소년).geojson')
data6 = gpd.read_file('6.오산시_연령별_거주인구격자(생산가능인구).geojson')
data7 = gpd.read_file('7.오산시_연령별_거주인구격자(고령).geojson')
data8 = pd.read_csv('8.오산시_유동인구(2019).csv')
data9 = pd.read_csv('9.오산시_어린이보호구역.csv')
data10 = pd.read_csv('10.오산시_학교위치정보.csv')
data11 = gpd.read_file('11.오산시_초등학교_통학구.geojson')
data12 = gpd.read_file('12.오산시_중학교_학군.geojson')
data13 = pd.read_csv('13.오산시_어린이집_유치원현황.csv')
data14 = pd.read_csv('14.오산시_기상데이터(2010~2019).csv')
data15 = pd.read_csv('15.오산시_무인교통단속카메라.csv')
data16 = pd.read_csv('16.오산시_도로안전표지표준데이터.csv')
data17 = gpd.read_file('17.오산시_횡단보도.geojson')
data18 = pd.read_csv('18.오산시_과속방지턱표준데이터.csv')
data19 = gpd.read_file('19.오산시_신호등.geojson')
data20 = pd.read_csv('20.오산시_CCTV설치현황.csv')
data21 = gpd.read_file('21.오산시_인도.geojson')
data22 = pd.read_csv('22.오산시_버스정류장.csv')
data23 = gpd.read_file('23.오산시_상세도로망_LV6.geojson')
data24 = pd.read_csv('24.평일_전일,시간대별_오산시_추정교통량_Level6.csv')
data25 = pd.read_csv('25.평일_전일_오산시_혼잡빈도강도_Level6.csv')
data26 = pd.read_csv('26.평일_전일_오산시_혼잡시간강도_Level6.csv')
data27 = gpd.read_file('27.오산시_도로명주소_건물.geojson')
data28 = gpd.read_file('28.오산시_건물연면적_격자.geojson')
data29 = pd.read_csv('29.오산시_체육시설현황.csv')
data30 = pd.read_csv('30.오산시_학원_및_교습소_현황.csv')
data31 = gpd.read_file('31.오산시_법정경계(시군구).geojson')
data32 = gpd.read_file('32.오산시_행정경계(읍면동).geojson')
data33 = gpd.read_file('33.오산시_법정경계(읍면동).geojson')
data34 = gpd.read_file('34.오산시_지적도.geojson')
data35 = pd.read_excel('35.코드정의서.xlsx')

/opt/app-root/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

## 전처리

In [ ]:
# 전처리 게요
# 1. 격자(4510개)를 기준으로 변수 생성 및 데이터 병합
# 2. 생성하고자하는 변수를 ['gid', 생성할 변수]의 두 열의 데이터프레임으로 각각 저장
# 3. merge(on='gid', how='left') 방식으로 기준데이터와 2번 과정에서 만든 변수 데이터프레임 모두를 병합

### 새롭게 정의할 변수: 사고횟수_가중치

In [ ]:
# 4510개의 격자별로 사고횟수_가중치를 측정

df1 = data2.copy()       # df1은 해당 격자의 중심점에서 40 / 120 / 200m 반경으로 위치 정보 바꾼 데이터
temp1 = data2.copy()     # 4510개의 격자별로 사고횟수_가중치를 측정할 데이터

acc100 = []
acc300 = []
acc500 = []

# acc100은 '해당 격자의 중심점에서 그린 40m 반경'이(해당 격자만 포함됨) 포함하는 격자에 '반경을 그린 격자의 사고횟수' 를 할당
# acc300은 '해당 격자의 중심점에서 그린 1200m 반경'이(해당 격자 주변 1칸 포함) 포함하는 격자에 '반경을 그린 격자의 사고횟수' 를 할당
# acc500은 '해당 격자의 중심점에서 그린 2000m 반경'이(해당 격자 주변 2칸 포함) 포함하는 격자에 '반경을 그린 격자의 사고횟수' 를 할당

In [ ]:
# acc100 만들기

df1.geometry = df1.geometry.centroid.buffer(0.0004)

for i in range(len(temp1)):
    temp = sum(df1.loc[np.where(df1.geometry.intersects(temp1.geometry[i])==True)[0], 'accident_cnt']) #temp는 격자 기준으로 사고발생격자의
    acc100.append(temp)                                                                                 # 40m buffer와 겹쳐지는 사고횟수의 합

/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:3: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  This is separate from the ipykernel package so we can avoid doing imports until
/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:3: UserWarning: Geometry is in a geographic CRS. Results from 'buffer' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
# acc300 만들기

df1.geometry = df1.geometry.centroid.buffer(0.0012)

for i in range(len(temp1)):
    temp = sum(df1.loc[np.where(df1.geometry.intersects(temp1.geometry[i])==True)[0], 'accident_cnt']) #temp는 격자 기준으로 사고발생격자의
    acc300.append(temp)                                                                                 # 120m buffer와 겹쳐지는 사고횟수의 합

/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:3: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  This is separate from the ipykernel package so we can avoid doing imports until
/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:3: UserWarning: Geometry is in a geographic CRS. Results from 'buffer' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
# acc500 만들기

df1.geometry = df1.geometry.centroid.buffer(0.0020)

for i in range(len(temp1)):
    temp = sum(df1.loc[np.where(df1.geometry.intersects(temp1.geometry[i])==True)[0], 'accident_cnt']) #temp는 격자 기준으로 사고발생격자의
    acc500.append(temp)                                                                                 # 200m buffer와 겹쳐지는 사고횟수의 합

/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:3: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  This is separate from the ipykernel package so we can avoid doing imports until
/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:3: UserWarning: Geometry is in a geographic CRS. Results from 'buffer' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
# acc_buf는 기준 데이터와 병합할 데이터

temp1['사고횟수_가중치'] = (np.array(acc100)*0.5) + (np.array(acc300)*0.3) + (np.array(acc500)*0.2)

acc_buf = temp1.loc[:, ['gid', '사고횟수_가중치']]

# 사고횟수_가중치는 해당 격자의 중심점 반경 100m 안에 다른 격자가 포함될 경우 다른 격자에 대한 해당 격자의 사고 가중치-> 가중치 1
#                                        100m ~ 300m 다른 격자가 포함될 경우 다른 격자에 대한 해당 격자의 사고 가중치-> 가중치 0.5
#                                        300m ~ 500m 다른 격자가 포함될 경우 다른 격자에 대한 해당 격자의 사고 가중치-> 가중치 0.2

### join 할 데이터: 9번 오산시_어린이보호구역

In [ ]:
# 어린이보호구역 좌표 반경 300m로 데이터 변환

df1 = data9.copy()

df1 = df1[['시설종류','시설명','보호구역_경도','보호구역_위도']]
df1.보호구역_경도 = df1.보호구역_경도.astype(float)
df1.보호구역_위도 = df1.보호구역_위도.astype(float)
df1['geometry'] = df1.apply(lambda row : Point([row['보호구역_경도'], row['보호구역_위도']]), axis=1)   # df1에 geometry 열을 만들어 위경도를 point 객체로 저장
df1 = gpd.GeoDataFrame(df1, geometry='geometry')                                                         # df1을 geodataframe 타입으로 저장
df1.geometry = df1.geometry.buffer(0.003)                                                                # df1 geometry열에 point 대신 300m 반경 poligon객체로 바꿈
df1.crs = {'init':'epsg:4326'}                                                                           # 좌표계를 epsg 4326으로 설정
df1 = df1.to_crs({'init':'epsg:4326'})

# df1는 data9의 각 포인트를 반경 300m 구역으로 변환한 geodataframe

## 위,경도를 미터법으로 변환한 과정
# 위도 30도 -> 위도 1도 : 110.852km / 경도 1도 : 94.486km
# 위도 45도 -> 위도 1도 : 111.132km / 경도 1도 : 78.847km
# 위도마다 거리 계산법이 다르고, 위도의 1도와 경도의 1도도 거리 계산법이 다름
# 편의를 위해 37도 부근에서 위도 1도 : 111km / 경도 1도 : 87km 로 계산함
# 위도와 경도의 1도를 km로 변환하려면 타원을 도입해야하지만 복잡하기에
# 위도 37도 부근에서 위도와 경도의 1도를 평균하여 약 100km로 설정
# 따라서 위도와 경도의 1도는 100km이고 [ 0.001도 = 100m ] 를 buffer에 적용함

/opt/app-root/lib/python3.6/site-packages/pyproj/crs/crs.py:53: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))

In [ ]:
# 4510개의 격자별로 지정된 스쿨존 300m 반경이 몇번 겹치는 지 측정

temp1 = data2.copy()
temp1 = temp1.loc[:, ['gid', 'geometry']]

schzone_num = []

for i in range(len(temp1)):
    schzone_num.append(sum(df1.geometry.intersects(temp1.geometry[i])))

In [ ]:
# schzone은 기준 데이터와 병합할 데이터

temp1['스쿨존'] = schzone_num

schzone = temp1.loc[:, ['gid', '스쿨존']]

### join 할 데이터 : 10번 오산시_학교위치정보

In [ ]:
# 4510개의 격자별로 초등학교 100/300/500m 반경이 몇번 겹치는 지 측정

temp1 = data2.copy()
temp1 = temp1.loc[:, ['gid', 'geometry']]

school_100 = []
school_300 = []
school_500 = []

In [ ]:
# school_100 만들기

df1 = data10.copy()

df1 = df1[df1.학교구분 == '초등학교']                      # 초등학교만 select
df1.학교위치_경도 = df1.학교위치_경도.astype(float)
df1.학교위치_위도 = df1.학교위치_위도.astype(float)
df1['geometry'] = df1.apply(lambda row : Point([row['학교위치_경도'], row['학교위치_위도']]), axis=1)
df1 = gpd.GeoDataFrame(df1, geometry='geometry')
df1.geometry = df1.geometry.buffer(0.001)                  # 학교 주변 100m 반경
df1.crs = {'init':'epsg:4326'}
df1 = df1.to_crs({'init':'epsg:4326'})

# df1는 data10의 각 포인트를 반경 100m 구역으로 변환한 geodataframe

for i in range(len(temp1)):
    school_100.append(sum(df1.geometry.intersects(temp1.geometry[i])))

In [ ]:
# school_300 만들기

df1 = data10.copy()

df1 = df1[df1.학교구분 == '초등학교']                      # 초등학교만 select
df1.학교위치_경도 = df1.학교위치_경도.astype(float)
df1.학교위치_위도 = df1.학교위치_위도.astype(float)
df1['geometry'] = df1.apply(lambda row : Point([row['학교위치_경도'], row['학교위치_위도']]), axis=1)
df1 = gpd.GeoDataFrame(df1, geometry='geometry')
df1.geometry = df1.geometry.buffer(0.003)                  # 학교 주변 300m 반경
df1.crs = {'init':'epsg:4326'}
df1 = df1.to_crs({'init':'epsg:4326'})

# df1는 data10의 각 포인트를 반경 300m 구역으로 변환한 geodataframe

for i in range(len(temp1)):
    school_300.append(sum(df1.geometry.intersects(temp1.geometry[i])))

In [ ]:
# school_500 만들기

df1 = data10.copy()

df1 = df1[df1.학교구분 == '초등학교']                      # 초등학교만 select
df1.학교위치_경도 = df1.학교위치_경도.astype(float)
df1.학교위치_위도 = df1.학교위치_위도.astype(float)
df1['geometry'] = df1.apply(lambda row : Point([row['학교위치_경도'], row['학교위치_위도']]), axis=1)
df1 = gpd.GeoDataFrame(df1, geometry='geometry')
df1.geometry = df1.geometry.buffer(0.005)                  # 학교 주변 500m 반경
df1.crs = {'init':'epsg:4326'}
df1 = df1.to_crs({'init':'epsg:4326'})

# df1는 data10의 각 포인트를 반경 500m 구역으로 변환한 geodataframe

for i in range(len(temp1)):
    school_500.append(sum(df1.geometry.intersects(temp1.geometry[i])))

In [ ]:
# elementary는 기준 데이터와 병합할 데이터

temp1['초등학교_100m'] = school_100
temp1['초등학교_300m'] = school_300
temp1['초등학교_500m'] = school_500
temp1['초등학교_가중치'] = temp1.초등학교_100m*0.5 + temp1.초등학교_300m*0.3 + temp1.초등학교_500m*0.2

elementary = temp1.loc[:, ['gid', '초등학교_100m', '초등학교_300m', '초등학교_500m', '초등학교_가중치']]

# 초등학교_가중치는 격자별로 해당 격자가 초등학교 반경 100m 안에 포함될 경우 -> 가중치 1
#                                               100m ~ 300m 안에 포함될 경우 -> 가중치 0.5
#                                               300m ~ 500m 안에 포함될 경우 -> 가중치 0.2

### join 할 데이터 : 13번 오산시_어린이집_유치원현황

In [ ]:
# 4510개의 격자별로 유치원 100/300/500m 반경이 몇번 겹치는 지 측정

temp1 = data2.copy()
temp1 = temp1.loc[:, ['gid', 'geometry']]

kgd_100 = []
kgd_300 = []
kgd_500 = []

In [ ]:
# kgd_100 만들기

df1 = data13.copy()

df1.시설위치_경도 = df1.시설위치_경도.astype(float)
df1.시설위치_위도 = df1.시설위치_위도.astype(float)
df1['geometry'] = df1.apply(lambda row : Point([row['시설위치_경도'], row['시설위치_위도']]), axis=1)
df1 = gpd.GeoDataFrame(df1, geometry='geometry')
df1.geometry = df1.geometry.buffer(0.001)          # 시설 주변 100m 반경
df1.crs = {'init':'epsg:4326'}
df1 = df1.to_crs({'init':'epsg:4326'})

# df1는 data13의 각 포인트를 반경 100m 구역으로 변환한 geodataframe

for i in range(len(temp1)):
    kgd_100.append(sum(df1.geometry.intersects(temp1.geometry[i])))

In [ ]:
# kgd_300 만들기

df1 = data13.copy()

df1.시설위치_경도 = df1.시설위치_경도.astype(float)
df1.시설위치_위도 = df1.시설위치_위도.astype(float)
df1['geometry'] = df1.apply(lambda row : Point([row['시설위치_경도'], row['시설위치_위도']]), axis=1)
df1 = gpd.GeoDataFrame(df1, geometry='geometry')
df1.geometry = df1.geometry.buffer(0.003)          # 시설 주변 300m 반경
df1.crs = {'init':'epsg:4326'}
df1 = df1.to_crs({'init':'epsg:4326'})

# df1는 data13의 각 포인트를 반경 300m 구역으로 변환한 geodataframe

for i in range(len(temp1)):
    kgd_300.append(sum(df1.geometry.intersects(temp1.geometry[i])))

In [ ]:
# kgd_500 만들기

df1 = data13.copy()

df1.시설위치_경도 = df1.시설위치_경도.astype(float)
df1.시설위치_위도 = df1.시설위치_위도.astype(float)
df1['geometry'] = df1.apply(lambda row : Point([row['시설위치_경도'], row['시설위치_위도']]), axis=1)
df1 = gpd.GeoDataFrame(df1, geometry='geometry')
df1.geometry = df1.geometry.buffer(0.005)          # 시설 주변 500m 반경
df1.crs = {'init':'epsg:4326'}
df1 = df1.to_crs({'init':'epsg:4326'})

# df1는 data13의 각 포인트를 반경 100m 구역으로 변환한 geodataframe

for i in range(len(temp1)):
    kgd_500.append(sum(df1.geometry.intersects(temp1.geometry[i])))

In [ ]:
# kindergarden은 기준 데이터와 병합할 데이터

temp1['유치원_100m'] = kgd_100
temp1['유치원_300m'] = kgd_300
temp1['유치원_500m'] = kgd_500
temp1['유치원_가중치'] = temp1.유치원_100m*0.5 + temp1.유치원_300m*0.3 + temp1.유치원_500m*0.2

kindergarden = temp1.loc[:, ['gid', '유치원_100m', '유치원_300m', '유치원_500m', '유치원_가중치']]

# 유치원_가중치는 격자별로 해당 격자가 유치원 반경 100m 안에 포함될 경우 -> 가중치 1
#                                           100m ~ 300m 안에 포함될 경우 -> 가중치 0.5
#                                           300m ~ 500m 안에 포함될 경우 -> 가중치 0.2

### join 할 데이터 : 17번 오산시_횡단보도

In [ ]:
# 4510개의 격자별로 포함하는 횡단보도 면적 측정

df1 = data17.copy()

crosswalk_size = []
crosswalk_area = []

# crosswalk_size 는 각 격자와 겹쳐지는 횡단보도의 전체(횡단보도 전체) 면적 계산
# 횡단보도가 격자를 넘어가도라도 횡단보도의 크기를 계산하기 위해 횡단보도 전체 면적의 합을 계산
# 따라서 횡단보도가 여러 격자에 걸쳐있는 경우 중복되어 격자에 계산되었음

# crosswalk_area 는 각 격자와 겹쳐지는 횡단보도만의(횡단보도 일부) 면적 계산

In [ ]:
# crosswalk_size 만들기

temp1 = data2.copy()
temp1 = temp1.loc[:, ['gid', 'geometry']]

for i in range(len(temp1)):
    area_i = sum([x.area for x in df1.geometry if x.intersects(temp1.geometry[i])==True])
    crosswalk_size.append(area_i)
    
# df1.geometry.intersects(temp1.geometry[i]) # 1~1205개의 횡단보도가 i번째 격자와 겹치는가 -> [T, F, T, T, F, F, ....]
# [x for x in df1.geometry if x.intersects(temp1.geometry[i])==True] # i번째 격자와 겹치는 횡단보도 geometry를 전부 모은 리스트
# [x.area for x in df1.geometry if x.intersects(temp1.geometry[i])==True] # i번째 격자와 겹치는 횡단보도 geometry의 면적을 전부 모은 리스트

In [ ]:
# crosswalk_area 만들기

for i in range(len(temp1)):
    area_i = sum(df1.geometry.intersection(temp1.geometry[i]).area)   # area_i는 i번째 격자가 포함하는 횡단보도의 면적 합
    crosswalk_area.append(area_i)
    
# temp1.geometry[i] 는 i번째 격자의 mulipoligon
# df1.geometry.intersection(temp1.geometry[i]) # i번째 격자와 1~1205번째의 횡단보다 각각의 겹치는 부분의 리스트화

/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:4: UserWarning: Geometry is in a geographic CRS. Results from 'area' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  after removing the cwd from sys.path.

In [ ]:
# crosswalk는 기준 데이터와 병합할 데이터

temp1['횡단보도_전체면적'] = crosswalk_size
temp1['횡단보도_포함면적'] = crosswalk_area

crosswalk = temp1.loc[:, ['gid', '횡단보도_전체면적', '횡단보도_포함면적']]

### join 할 데이터 : 27번 오산시_도로명주소_건물

In [ ]:
# 4510개의 격자별로 포함하는 건물(전체 / 주거용 / 시무용) 개수 측정

df1 = data27.copy()

df2 = df1.loc[:, ['BDTYP_CD','geometry']]
df2['BDTYP_CD'] = [int(x[0:3]) for x in df2.BDTYP_CD]      # 건물 용도별로 구분하기 위해 구분열 지정
df2['geometry'] = df2.geometry.centroid                     # 건물의 중심점으로 geometry 다시 지정

bld = []        # bid는 격자 안에 있는 총 건물의 개수
house = []      # house는 격자 안에 있는 주거용 건물의 개수
office = []     # office는 격자 안에 있는 사무용 건물의 개수

/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:7: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  import sys

In [ ]:
# bid 만들기

temp1 = data2.copy()
temp1 = temp1.loc[:, ['gid', 'geometry']]

df3 = df2.copy()

for i in range(len(temp1)):
    bld.append(sum(df3.geometry.intersects(temp1.geometry[i])))

In [ ]:
# house 만들기

df3 = df2.copy()
df3 = df3.loc[(df3['BDTYP_CD']<30),:]      # 주거용 건물(건물 용도 번호 앞 세 자리가 30 이하)만 남김

for i in range(len(temp1)):
    house.append(sum(df3.geometry.intersects(temp1.geometry[i])))

In [ ]:
# office 만들기

df3 = df2.copy()
df3 = df3.loc[(df3['BDTYP_CD']==44)|(df3['BDTYP_CD']==100)|(df3['BDTYP_CD']==101)|(df3['BDTYP_CD']==102), :]    # 사무용 건물에 해당하는 건물 용도 번호만 남김

for i in range(len(temp1)):
    office.append(sum(df3.geometry.intersects(temp1.geometry[i])))

In [ ]:
# buildings는 기준 데이터와 병합할 데이터

temp1['building'] = bld
temp1['house'] = house
temp1['office'] = office

buildings = temp1.loc[:, ['gid', 'building', 'house', 'office']]

### join 할 데이터 : 22번 오산시_버스정류장

In [ ]:
# 버스정류장 데이터(csv)를 GeoJSON 파일로 변환

df1 = data22.copy()

df1['정류장 위치_경도'] = df1['정류장 위치_경도'].astype(float)
df1['정류장 위치_위도'] = df1['정류장 위치_위도'].astype(float)
df1['geometry'] = df1.apply(lambda row : Point([row['정류장 위치_경도'], row['정류장 위치_위도']]), axis=1)   # df1에 geometry 열을 만들어 위경도를 point 객체로 저장
df1 = gpd.GeoDataFrame(df1, geometry='geometry')                                                               # df1을 geodataframe 타입으로 저장
df1.crs = {'init':'epsg:4326'}                                                                                 # 좌표계를 epsg 4326으로 설정
df1 = df1.to_crs({'init':'epsg:4326'})

/opt/app-root/lib/python3.6/site-packages/pyproj/crs/crs.py:53: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))

In [ ]:
# 4510개의 격자별로 포함하는 버스정류장 개수 측정

temp1 = data2.copy()
temp1 = temp1.loc[:, ['gid', 'geometry']]

bus = []

for i in range(len(temp1)):
    bus.append(sum(df1.geometry.intersects(temp1.geometry[i])))

In [ ]:
# bus_stop은 기준 데이터와 병합할 데이터

temp1['버스정류장'] = bus

bus_stop = temp1.loc[:, ['gid', '버스정류장']]

### join 할 데이터 : 29번 오산시_체육시설현황

In [ ]:
# 체육시설현황 데이터(csv)를 GeoJSON 파일로 변환

df1 = data29.copy()

df1.설치위치_경도 = df1.설치위치_경도.astype(float)
df1.설치위치_위도 = df1.설치위치_위도.astype(float)
df1['geometry'] = df1.apply(lambda row : Point([row['설치위치_경도'], row['설치위치_위도']]), axis=1)   # df1에 geometry 열을 만들어 위경도를 point 객체로 저장
df1 = gpd.GeoDataFrame(df1, geometry='geometry')                                                         # df1을 geodataframe 타입으로 저장
df1.crs = {'init':'epsg:4326'}                                                                           # 좌표계를 epsg 4326으로 설정
df1 = df1.to_crs({'init':'epsg:4326'})

In [ ]:
# 4510개의 격자별로 포함하는 체육시설 개수 측정

temp1 = data2.copy()
temp1 = temp1.loc[:, ['gid', 'geometry']]

fac = []

for i in range(len(temp1)):
    fac.append(sum(df1.geometry.intersects(temp1.geometry[i])))

In [ ]:
# physical_fac은 기준 데이터와 병합할 데이터

temp1['체육시설'] = fac

physical_fac = temp1.loc[:, ['gid', '체육시설']]

### join 할 데이터 : 30번 오산시_학원_및_교습소_현황

In [ ]:
# 30번 오산시 학원 및 교습소 현황 데이터로 격자 안의 학원 수를 측정하기에는 데이터가 부정확함.
# ex) 같은 학원이지만 '영어 초급' / '영어 고급'반이 다른 학원처럼 2개의 행을 차지함(1779, 1780번 행)

# 따라서 제공되는 데이터 대신 카카오 API를 활용하여 각 격자별로 위치한 학원의 수를 측정함

In [ ]:
# 카카오 API 사용 함수

import requests; from urllib.parse import urlparse

def point_to_num(y,x,radius,keyword,category):  #좌표와 키워드를 입력하면 시설물의 수를 알수있음
                    url = "https://dapi.kakao.com/v2/local/search/keyword.json?&y=" + y + "&x=" + x + "&radius=" + radius + "&query=" + keyword +"&category_group_code=" + category
                    result = requests.get(urlparse(url).geturl(),
                                          headers={"Authorization":"KakaoAK d3c61988f98633f8311396ae5ed20fa2"})
                    json_obj = result.json()
                    global val
                    val = json_obj['meta']['pageable_count']
                    return val

In [ ]:
# Point 객체의 x, y 좌표 반환 함수

def getXY(pt):
    
    return (pt.x, pt.y)

In [ ]:
# 카카오 API를 사용하기 위해 4510개의 격자의 x, y 좌표를 정보로 저장

temp1 = data2.copy()
temp1 = temp1.loc[:, ['gid', 'geometry']]
temp1.geometry = temp1.geometry.centroid

x,y = [list(t) for t in zip(*map(getXY, temp1['geometry']))]

temp1['x']=x
temp1['y']=y

/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:5: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  """

In [ ]:
# 4510개의 격자별로 포함하는 학원 개수 측정

acad = []

for i in range(len(temp1)): 
    acad.append(point_to_num(str(temp1['y'][i]), str(temp1['x'][i]), '50', '학원','AC5'))

# point_to_num() 함수 설명: i번째 격자의 중심에서 50m 반경에 있는 '학원' 카테고리의 개수 반환

In [ ]:
# academy는 기준 데이터와 병합할 데이터

temp1['학원'] = acad

temp1.loc[2617, '학원'] = 1     # 분석 당시 학원 개수로 변경(1월 25일 기준 2개)
temp1.loc[3178, '학원'] = 0     # 분석 당시 학원 개수로 변경(1월 25일 기준 1개)
temp1.loc[3348, '학원'] = 4     # 분석 당시 학원 개수로 변경(1월 25일 기준 5개)
temp1.loc[3492, '학원'] = 16    # 분석 당시 학원 개수로 변경(1월 25일 기준 15개)

academy = temp1.loc[:, ['gid', '학원']]

In [ ]:
# 카카오 API로 구한 학원 개수 데이터는 시간에 따라 바뀜
# 따라서 분석 당시의 격자별 학원 개수를 맞추기 위해 데이터로 저장: academy_KAKAO_api

#academy.to_csv('36_재생산.academy_KAKAO_api.csv', index=False)

# 추후 분석에서 동일한 데이터를 얻기 위하여 저장했던 "36_재생산.academy_KAKAO_api.csv" 파일을 로드하여 사용
academy = pd.read_csv('36_재생산.academy_KAKAO_api.csv')

### join 할 데이터 : 19번 오산시_신호등

In [ ]:
# df1은 신호등 데이터
# temp1은 격자별로 포함하는 신호등 개수 측정을 위한 데이터

df1 = data19.copy()

temp1 = data2.copy()
temp1 = temp1.loc[:, ['gid', 'geometry']]

In [ ]:
# 4510개의 격자별로 포함하는 신호등 개수 측정

light = []

for i in range(len(temp1)):
     light.append(sum(df1.geometry.intersects(temp1.geometry[i])))

In [ ]:
# physical_light는 기준 데이터와 병합할 데이터

temp1['신호등'] = light

traffic_light = temp1.loc[:, ['gid', '신호등']]

### join 할 데이터 : 18_외부 오산시_과속방지턱표준데이터.csv

In [ ]:
# 18번 오산시_과속방지턱표준데이터에 오산시에 포함된 과속방지턱이 업데이트 되지 않아
# 공공데이터포털에서 새롭게 다운로드함

data18_outer = pd.read_csv('18_외부.오산시_과속방지턱표준데이터.csv')

In [ ]:
# 과속방지턱 데이터(csv)를 GeoJSON 파일로 변환

df1 = data18_outer.copy()

df1.경도 = df1.경도.astype(float)
df1.위도 = df1.위도.astype(float)
df1['geometry'] = df1.apply(lambda row : Point([row['경도'], row['위도']]), axis=1)   # df1에 geometry 열을 만들어 위경도를 point 객체로 저장
df1 = gpd.GeoDataFrame(df1, geometry='geometry')                                       # df1을 geodataframe 타입으로 저장
df1.crs = {'init':'epsg:4326'}                                                         # 좌표계를 epsg 4326으로 설정
df1 = df1.to_crs({'init':'epsg:4326'})

In [ ]:
# 4510개의 격자별로 포함하는 과속방지턱 개수 측정

temp1 = data2.copy()
temp1 = temp1.loc[:, ['gid', 'geometry']]

bump_count = []

for i in range(len(temp1)):
    bump_count.append(sum(df1.geometry.intersects(temp1.geometry[i])))

In [ ]:
# bump는 기준 데이터와 병합할 데이터

temp1['과속방지턱'] = bump_count

bump = temp1.loc[:, ['gid', '과속방지턱']]

### join 할 데이터: 8번 유동인구

In [ ]:
df1 = data8.copy()

In [ ]:
#하루 평균 유동인구 구하기

df1['month'] = df1.iloc[:,3] 
for i in range(4,27,1):
    df1['month'] = df1['month'] + df1.iloc[:,i]

In [ ]:
#필요한 열만 추출

df1 = df1.iloc[:,[0,1,2,27]]

In [ ]:
#lon,lat을 기준으로 그룹화

temp1 = df1.groupby(['lon','lat'],as_index=False).count()

In [ ]:
#각 좌표의 평균값 계산

temp1['mean'] = df1.groupby(['lon','lat'],as_index=False).mean().month

In [ ]:
#필요한 열만 추출

temp1 = temp1.iloc[:,[0,1,3,4]]

In [ ]:
temp1 = temp1.rename(columns = {'month':'count'})

In [ ]:
for i in range(1,13,1):
    if i < 10:
        a = pd.merge(temp1, df1[df1.iloc[:,0]==int('20190%d' %i)],how='left',on=['lon','lat'])   #위도와 경도를 기준으로 해당 월의 평균 데이터와 원본 데이터 병합
    else:
        a = pd.merge(temp1, df1[df1.iloc[:,0]==int('2019%d' %i)],how='left',on=['lon','lat'])
    for j in range(0,len(a),1):   #결측치 대체#
        if a.iloc[:,5].isnull()[j]==True:   #값이 존재하지 않는 포인트의 유동인구를 평균값으로 대체
            a.iloc[j,5] = a.iloc[j,3]
        else:
            a.iloc[j,5] = a.iloc[j,5]
        if a.iloc[:,4].isnull()[j]==True:   #값이 존재하지 않는 포인트의 월을 해당 월로 대체
            a.iloc[j,4] = a.iloc[j-1,4]
        else:
            a.iloc[j,4] = a.iloc[j,4]
            
    if i==1:
        b=a
    else:
        b = pd.concat([b,a],axis = 0)   #1월부터 12월 병합#

In [ ]:
float_pop = b

In [ ]:
float_pop = float_pop.reset_index()

In [ ]:
#결측값 개수 확인

float_pop.isnull().apply(sum)

index     0
lon       0
lat       0
count     0
mean      0
STD_YM    0
month     0
dtype: int64

In [ ]:
#csv를 geodataframe으로 변환

from shapely.geometry import Point   
geo_float_pop = gpd.GeoDataFrame(float_pop.drop(['lon','lat'], axis=1),
                           crs={'init':'epsg:4326'},
                           geometry=[Point(xy) for xy in zip(float_pop.lon, float_pop.lat)])

/opt/app-root/lib/python3.6/site-packages/pyproj/crs/crs.py:53: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))

In [ ]:
geo_float_pop

,index,count,mean,STD_YM,month,geometry
0,0,8,8.436250,201901.0,8.880000,POINT (126.99514 37.17715)
1,1,12,13.730833,201901.0,11.700000,POINT (126.99515 37.17670)
2,2,7,3.397143,201901.0,3.397143,POINT (126.99515 37.17625)
3,3,4,2.250000,201901.0,2.250000,POINT (126.99515 37.17580)
4,4,5,2.104000,201901.0,2.104000,POINT (126.99515 37.17535)
...,...,...,...,...,...,...
148819,12397,3,0.816667,201912.0,0.780000,POINT (127.09779 37.15095)
148820,12398,3,6.486667,201912.0,5.860000,POINT (127.09782 37.14600)
148821,12399,6,5.735000,201912.0,0.500000,POINT (127.09835 37.15141)
148822,12400,1,51.170000,201912.0,51.170000,POINT (127.09836 37.15096)
148823,12401,8,0.603750,201912.0,0.560000,POINT (127.10063 37.14601)

In [ ]:
#coordinates를 multipolygon으로 할당

point = geo_float_pop.copy()
poly = data2.copy()
from geopandas.tools import sjoin
grid_float_pop = sjoin(point, poly, how='left')

/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:6: UserWarning: CRS mismatch between the CRS of left geometries and the CRS of right geometries.
Use `to_crs()` to reproject one of the input geometries to match the CRS of the other.

Left CRS: +init=epsg:4326 +type=crs
Right CRS: EPSG:4326

In [ ]:
# 각 그리드의 월 평균 계산

temp2 = grid_float_pop.groupby('gid',as_index=False).mean()

In [ ]:
temp2 = temp2.loc[:,['gid','month']]

In [ ]:
float_population = pd.merge(data2, temp2, how='left', on='gid')

In [ ]:
del float_population['accident_cnt']
del float_population['geometry']

In [ ]:
float_population = float_population.fillna(0)

In [ ]:
#결측값 개수 확인

float_population.isnull().apply(sum)

gid      0
month    0
dtype: int64

In [ ]:
float_population = float_population.rename(columns={'month':'유동인구'})

In [ ]:
float_population

           gid      유동인구
0     다사551085  0.000000
1     다사551086  2.177000
2     다사551087  8.563988
3     다사551088  8.436250
4     다사552085  0.363333
...        ...       ...
4505  다사646052  0.000000
4506  다사646053  0.000000
4507  다사647050  0.000000
4508  다사647051  0.000000
4509  다사647052  0.000000

[4510 rows x 2 columns]

### join 할 데이터: 1번 주정차단속

In [ ]:
df1 = data1.copy()

In [ ]:
df1.isnull().sum()

단속일자         0
단속위치         0
행정구역         0
스쿨존여부        0
단속위치_경도    188
단속위치_위도    188
단속종류         0
dtype: int64

In [ ]:
#결측값 제거

df1 = df1.dropna()

In [ ]:
#csv를 geodataframe으로 변환

from shapely.geometry import Point
geo_parked_car = gpd.GeoDataFrame(df1.drop(['단속위치_경도','단속위치_위도'], axis=1),
                           crs={'init':'epsg:4326'},
                           geometry=[Point(xy) for xy in zip(df1.단속위치_경도, df1.단속위치_위도)])

/opt/app-root/lib/python3.6/site-packages/pyproj/crs/crs.py:53: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))

In [ ]:
#coordinates를 multipolygon으로 할당

point = geo_parked_car.copy()
poly = data2.copy()
from geopandas.tools import sjoin
grid_parked_car = sjoin(point, poly, how='left')

/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:6: UserWarning: CRS mismatch between the CRS of left geometries and the CRS of right geometries.
Use `to_crs()` to reproject one of the input geometries to match the CRS of the other.

Left CRS: +init=epsg:4326 +type=crs
Right CRS: EPSG:4326

In [ ]:
#grid별로 그룹화

temp1 = grid_parked_car.groupby('gid',as_index=False).count()

In [ ]:
temp1 = temp1.iloc[:,[0,1]]

In [ ]:
temp1 = temp1.rename(columns={'단속일자':'단속횟수'})

In [ ]:
parked_car = pd.merge(data2, temp1, how='left', on='gid')

In [ ]:
del parked_car['accident_cnt']
del parked_car['geometry']

In [ ]:
parked_car = parked_car.fillna(0)

In [ ]:
parked_car

           gid  단속횟수
0     다사551085   0.0
1     다사551086   0.0
2     다사551087   0.0
3     다사551088   0.0
4     다사552085   0.0
...        ...   ...
4505  다사646052   0.0
4506  다사646053   0.0
4507  다사647050   0.0
4508  다사647051   0.0
4509  다사647052   0.0

[4510 rows x 2 columns]

### join 할 데이터: 24번 교통량

In [ ]:
df1 = data24.copy()

In [ ]:
#하루의 교통량만 사용

df1 = df1[df1['시간적범위']=='전일']

In [ ]:
df1['상세도로망_LinkID'] = df1['상세도로망_LinkID'].astype(str)

In [ ]:
#상행선과 하행선 구분 X

df1['link_id'] = df1['상세도로망_LinkID'].str[0:9]

In [ ]:
df1 = df1.groupby('link_id', as_index=False).sum()

In [ ]:
df2 = data23.copy()

In [ ]:
traffic = pd.merge(df1, df2, how='left', on='link_id')

In [ ]:
#고속도로, 도시고속국도, 고속도로 연결램프 제거

for i in range(3, 8, 1):
    traffic_a = traffic[traffic['road_rank'] == '10%d' %i]
    if i == 3:
        traffic_b = traffic_a
    else:
        traffic_b = pd.concat([traffic_b,traffic_a],axis = 0)

In [ ]:
traffic = traffic_b.copy()

In [ ]:
traffic = traffic[['link_id', '전체 추정교통량', 'geometry']]

In [ ]:
traffic_buff = traffic.copy()

In [ ]:
traffic_buff = gpd.GeoDataFrame(traffic_buff)

In [ ]:
#도로의 데이터를 격자로 포함시키기 위해 버퍼 적용

traffic_buff['geometry'] = traffic_buff['geometry'].buffer(0.0005)

/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:3: UserWarning: Geometry is in a geographic CRS. Results from 'buffer' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
grid_point = data2.copy()

In [ ]:
grid_point['geometry'] = grid_point['geometry'].centroid

/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  """Entry point for launching an IPython kernel.

In [ ]:
#coordinates를 multipolygon으로 할당

point = grid_point.copy()
poly = traffic_buff.copy()
from geopandas.tools import sjoin
grid_traffic = sjoin(poly, point, how='left')

In [ ]:
grid_traffic = grid_traffic.reset_index()

In [ ]:
grid_traffic.isnull().sum()

index            0
link_id          0
전체 추정교통량         0
geometry         0
index_right     81
gid             81
accident_cnt    81
dtype: int64

In [ ]:
grid_traffic = grid_traffic.dropna()

In [ ]:
#그리드별 교통량 합

grid_traffic_sum = grid_traffic.groupby('gid', as_index=False).sum()

In [ ]:
#그리드별 교통량 평균

grid_traffic_mean = grid_traffic.groupby('gid', as_index=False).mean()

In [ ]:
grid_traffic = pd.merge(grid_traffic_sum, grid_traffic_mean, how='left', on='gid')

In [ ]:
grid_traffic = grid_traffic.iloc[:,[0, 2, 6]]

In [ ]:
grid_traffic = grid_traffic.rename(columns={'전체 추정교통량_x':'traffic_sum', '전체 추정교통량_y':'traffic_mean'})

In [ ]:
traffic = pd.merge(data2, grid_traffic, how='left', on='gid')

In [ ]:
traffic = traffic[['gid', 'traffic_sum', 'traffic_mean']]

In [ ]:
traffic = traffic.fillna(0)

In [ ]:
traffic

           gid  traffic_sum  traffic_mean
0     다사551085          0.0           0.0
1     다사551086          0.0           0.0
2     다사551087          0.0           0.0
3     다사551088          0.0           0.0
4     다사552085          0.0           0.0
...        ...          ...           ...
4505  다사646052          0.0           0.0
4506  다사646053          0.0           0.0
4507  다사647050          0.0           0.0
4508  다사647051          0.0           0.0
4509  다사647052          0.0           0.0

[4510 rows x 3 columns]

### join 할 데이터: 25번 혼잡빈도강도

In [ ]:
df1 = data25.copy()

In [ ]:
df1['상세도로망_LinkID'] = df1['상세도로망_LinkID'].astype(str)

In [ ]:
df1['link_id'] = df1['상세도로망_LinkID'].str[0:9]

In [ ]:
df2 = data23.copy()

In [ ]:
freq = pd.merge(df1, df2, how='left', on='link_id')

In [ ]:
for i in range(3, 8, 1):
    freq_a = freq[freq['road_rank'] == '10%d' %i]
    if i == 3:
        freq_b = freq_a
    else:
        freq_b = pd.concat([freq_b,freq_a],axis = 0)

In [ ]:
freq = freq_b.copy()

In [ ]:
freq = freq[['link_id', '혼잡빈도강도', 'geometry']]

In [ ]:
freq_buff = freq.copy()

In [ ]:
freq_buff = gpd.GeoDataFrame(freq_buff)

In [ ]:
freq_buff['geometry'] = freq_buff['geometry'].buffer(0.0005)

/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Geometry is in a geographic CRS. Results from 'buffer' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  """Entry point for launching an IPython kernel.

In [ ]:
poly = freq_buff.copy()
point = grid_point.copy()
from geopandas.tools import sjoin
grid_freq_temp = sjoin(poly, point, how='left')

In [ ]:
grid_freq_temp.isnull().sum()

link_id           0
혼잡빈도강도            0
geometry          0
index_right     127
gid             127
accident_cnt    127
dtype: int64

In [ ]:
grid_freq_temp = grid_freq_temp.dropna()

In [ ]:
grid_freq_temp_sum = grid_freq_temp.groupby('gid', as_index=False).sum()

In [ ]:
grid_freq_temp_mean = grid_freq_temp.groupby('gid', as_index=False).mean()

In [ ]:
grid_freq = pd.merge(grid_freq_temp_sum, grid_freq_temp_mean, how='left', on='gid')

In [ ]:
grid_freq = grid_freq[['gid', '혼잡빈도강도_x', '혼잡빈도강도_y']]

In [ ]:
grid_freq = grid_freq.rename(columns={'혼잡빈도강도_x':'freq_sum', '혼잡빈도강도_y':'freq_mean'})

In [ ]:
freq = pd.merge(data2, grid_freq, how='left', on='gid')

In [ ]:
freq = freq[['gid', 'freq_sum', 'freq_mean']]

In [ ]:
freq = freq.fillna(0)

In [ ]:
freq

           gid  freq_sum  freq_mean
0     다사551085       0.0        0.0
1     다사551086       0.0        0.0
2     다사551087       0.0        0.0
3     다사551088       0.0        0.0
4     다사552085       0.0        0.0
...        ...       ...        ...
4505  다사646052       0.0        0.0
4506  다사646053       0.0        0.0
4507  다사647050       0.0        0.0
4508  다사647051       0.0        0.0
4509  다사647052       0.0        0.0

[4510 rows x 3 columns]

### join 할 데이터: 26번 혼잡시간강도

In [ ]:
df1 = data26.copy()

In [ ]:
df1['상세도로망_LinkID'] = df1['상세도로망_LinkID'].astype(str)

In [ ]:
df1['link_id'] = df1['상세도로망_LinkID'].str[0:9]

In [ ]:
df2 = data23.copy()

In [ ]:
time = pd.merge(df1, df2, how='left', on='link_id')

In [ ]:
for i in range(3, 8, 1):
    time_a = time[time['road_rank'] == '10%d' %i]
    if i == 3:
        time_b = time_a
    else:
        time_b = pd.concat([time_b,time_a],axis = 0)

In [ ]:
time = time_b.copy()

In [ ]:
time = time[['link_id', '혼잡시간강도', 'geometry']]

In [ ]:
time_buff = time.copy()

In [ ]:
time_buff = gpd.GeoDataFrame(time_buff)

In [ ]:
time_buff['geometry'] = time_buff['geometry'].buffer(0.0005)

/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Geometry is in a geographic CRS. Results from 'buffer' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  """Entry point for launching an IPython kernel.

In [ ]:
poly = time_buff.copy()
point = grid_point.copy()
from geopandas.tools import sjoin
grid_time_temp = sjoin(poly, point, how='left')

In [ ]:
grid_time_temp.isnull().sum()

link_id           0
혼잡시간강도            0
geometry          0
index_right     127
gid             127
accident_cnt    127
dtype: int64

In [ ]:
grid_time_temp = grid_time_temp.dropna()

In [ ]:
grid_time_temp_sum = grid_time_temp.groupby('gid', as_index=False).sum()

In [ ]:
grid_time_temp_mean = grid_time_temp.groupby('gid', as_index=False).mean()

In [ ]:
grid_time = pd.merge(grid_time_temp_sum, grid_time_temp_mean, how='left', on='gid')

In [ ]:
grid_time = grid_time[['gid', '혼잡시간강도_x', '혼잡시간강도_y']]

In [ ]:
grid_time = grid_time.rename(columns={'혼잡시간강도_x':'time_sum','혼잡시간강도_y':'time_mean'})

In [ ]:
time = pd.merge(data2, grid_time, how='left', on='gid')

In [ ]:
time = time[['gid', 'time_sum', 'time_mean']]

In [ ]:
time = time.fillna(0)

In [ ]:
time

           gid  time_sum  time_mean
0     다사551085       0.0        0.0
1     다사551086       0.0        0.0
2     다사551087       0.0        0.0
3     다사551088       0.0        0.0
4     다사552085       0.0        0.0
...        ...       ...        ...
4505  다사646052       0.0        0.0
4506  다사646053       0.0        0.0
4507  다사647050       0.0        0.0
4508  다사647051       0.0        0.0
4509  다사647052       0.0        0.0

[4510 rows x 3 columns]

### join 할 데이터: 추가 주정차단속+횡단보도

In [ ]:
df1 = data1.copy()

In [ ]:
df1 = df1.dropna()

In [ ]:
#csv를 geodataframe으로 변환

from shapely.geometry import Point
park_point = gpd.GeoDataFrame(df1.drop(['단속위치_경도','단속위치_위도'], axis=1),
                           crs={'init':'epsg:4326'},
                           geometry=[Point(xy) for xy in zip(df1.단속위치_경도, df1.단속위치_위도)])

/opt/app-root/lib/python3.6/site-packages/pyproj/crs/crs.py:53: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))

In [ ]:
cross_buff = data17.copy()

In [ ]:
cross_buff['geometry'] = cross_buff['geometry'].buffer(0.00005)   #5미터

/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Geometry is in a geographic CRS. Results from 'buffer' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  """Entry point for launching an IPython kernel.

In [ ]:
#주정차단속 좌표를 multipolygon으로 할당

point = park_point.copy()
poly = cross_buff.copy()
from geopandas.tools import sjoin
park_cross = sjoin(point, poly, how='left')

/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:6: UserWarning: CRS mismatch between the CRS of left geometries and the CRS of right geometries.
Use `to_crs()` to reproject one of the input geometries to match the CRS of the other.

Left CRS: +init=epsg:4326 +type=crs
Right CRS: EPSG:4326

In [ ]:
park_cross.isnull().sum()

단속일자               0
단속위치               0
행정구역               0
스쿨존여부              0
단속종류               0
geometry           0
index_right    44206
OBJECTID       44206
dtype: int64

In [ ]:
park_cross = park_cross.dropna()

In [ ]:
del park_cross['index_right']

In [ ]:
point = park_cross.copy()   #주정차단속 좌표를 multipolygon으로 할당#
poly = data2.copy()
from geopandas.tools import sjoin
grid_park_cross = sjoin(point, poly, how='left')

/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:4: UserWarning: CRS mismatch between the CRS of left geometries and the CRS of right geometries.
Use `to_crs()` to reproject one of the input geometries to match the CRS of the other.

Left CRS: +init=epsg:4326 +type=crs
Right CRS: EPSG:4326

  after removing the cwd from sys.path.

In [ ]:
grid_park_cross = grid_park_cross.groupby('gid', as_index=False).count()

In [ ]:
grid_park_cross = grid_park_cross.iloc[:,[0,1]]

In [ ]:
grid_park_cross = grid_park_cross.rename(columns={'단속일자':'단속횟수_횡단보도위'})

In [ ]:
grid_park_cross = pd.merge(data2, grid_park_cross, how='left', on='gid')

In [ ]:
grid_park_cross = grid_park_cross.fillna(0)

In [ ]:
grid_park_cross = grid_park_cross[['gid', '단속횟수_횡단보도위']]

In [ ]:
park_cross = grid_park_cross.copy()

In [ ]:
park_cross

           gid  단속횟수_횡단보도위
0     다사551085         0.0
1     다사551086         0.0
2     다사551087         0.0
3     다사551088         0.0
4     다사552085         0.0
...        ...         ...
4505  다사646052         0.0
4506  다사646053         0.0
4507  다사647050         0.0
4508  다사647051         0.0
4509  다사647052         0.0

[4510 rows x 2 columns]

### join 할 데이터: 여러가지 데이터

In [ ]:
var_data = pd.merge(data2,data3,how = 'left', on='geometry')

In [ ]:
var_data = pd.merge(var_data,data4,on='geometry')
var_data = var_data.rename(columns = {'val':'pop_all'})

In [ ]:
del var_data['gid_y']
del var_data['gid_x']

In [ ]:
var_data = pd.merge(var_data,data5,on='geometry')
var_data = var_data.rename(columns = {'val':'pop_child'})

In [ ]:
del var_data['gid_y']
del var_data['accident_cnt']
del var_data['geometry']

In [ ]:
var_data = var_data.rename(columns={'gid_x':'gid'})

In [ ]:
var_data = var_data[['gid','car_cnt','pop_all','pop_child']]

In [ ]:
var_data.isnull().sum()

gid             0
car_cnt         0
pop_all      2921
pop_child    3543
dtype: int64

In [ ]:
var_data = var_data.fillna(0)

In [ ]:
var_data

           gid  car_cnt  pop_all  pop_child
0     다사551085        0      0.0        0.0
1     다사551086        0      0.0        0.0
2     다사551087        0      0.0        0.0
3     다사551088        0      0.0        0.0
4     다사552085        0      0.0        0.0
...        ...      ...      ...        ...
4505  다사646052        0      0.0        0.0
4506  다사646053        0      0.0        0.0
4507  다사647050        0      0.0        0.0
4508  다사647051        0      0.0        0.0
4509  다사647052        0      0.0        0.0

[4510 rows x 4 columns]

### join 할 데이터:  15번 단속카메라

In [ ]:
df1 = data15.copy()

In [ ]:
df2 = data2.copy()

In [ ]:
# 각 좌표가 어떤 그리드에 포함되는지 저장
camera_grid=[]

for i in range(112):
    temp = Point(df1['설치위치_경도'][i], df1['설치위치_위도'][i])
    for j in range(4510):
        if temp.within(df2['geometry'][j]) == True:
            camera_grid.append(df2['gid'][j])

In [ ]:
# 각 그리드별 개수를 변수로 저장
camera_cnt = []

for i in range(4510):
    camera_cnt.append(camera_grid.count(df2['gid'][i]))
    
df2['camera_cnt'] = camera_cnt

In [ ]:
camera = df2.copy()

In [ ]:
camera = camera.rename(columns={'camera_cnt':'단속카메라'})

In [ ]:
del camera['accident_cnt']
del camera['geometry']

In [ ]:
camera

           gid  단속카메라
0     다사551085      0
1     다사551086      0
2     다사551087      0
3     다사551088      0
4     다사552085      0
...        ...    ...
4505  다사646052      0
4506  다사646053      0
4507  다사647050      0
4508  다사647051      0
4509  다사647052      0

[4510 rows x 2 columns]

### join 할 데이터:  16번 도로안내표지

In [ ]:
df1 = data16.copy()

In [ ]:
df2 = data2.copy()

In [ ]:
# 각 좌표가 어떤 그리드에 포함되는지 저장
sign_grid=[]

for i in range(831):
    temp = Point(df1['lon'][i], df1['lat'][i])
    for j in range(4510):
        if temp.within(df2['geometry'][j]) == True:
            sign_grid.append(df2['gid'][j])

In [ ]:
# 각 그리드별 개수를 변수로 저장
sign_cnt = []

for i in range(4510):
    sign_cnt.append(sign_grid.count(df2['gid'][i]))
    
df2['sign_cnt'] = sign_cnt

In [ ]:
sign = df2.copy()

In [ ]:
del sign['accident_cnt']
del sign['geometry']

In [ ]:
sign = sign.rename(columns={'sign_cnt':'도로안내표지'})

In [ ]:
sign

           gid  도로안내표지
0     다사551085       0
1     다사551086       0
2     다사551087       0
3     다사551088       0
4     다사552085       0
...        ...     ...
4505  다사646052       0
4506  다사646053       0
4507  다사647050       0
4508  다사647051       0
4509  다사647052       0

[4510 rows x 2 columns]

### join 할 데이터:  20번 CCTV

In [ ]:
df1 = data20.copy()

In [ ]:
df2 = data2.copy()

In [ ]:
# 과속단속카메라(E)만
cctv_E = df1[ df1['CCTV 유형코드'] == 'E' ].reset_index()

In [ ]:
# 각 좌표가 어떤 그리드에 포함되는지 저장
cctv_grid=[]

for i in range(10):
    temp = Point(cctv_E['설치위치_위도'].iloc[i], cctv_E['설치위치_경도'][i])
    for j in range(4510):
        if temp.within(df2['geometry'][j]) == True:
            cctv_grid.append(df2['gid'][j])

In [ ]:
# 각 그리드별 개수를 변수로 저장
cctv_cnt = []

for i in range(4510):
    cctv_cnt.append(cctv_grid.count(df2['gid'][i]))
    
df2['cctv_cnt'] = cctv_cnt

In [ ]:
cctv = df2.copy()

In [ ]:
del cctv['accident_cnt']
del cctv['geometry']

In [ ]:
cctv = cctv.rename(columns={'cctv_cnt':'cctv'})

In [ ]:
cctv

           gid  cctv
0     다사551085     0
1     다사551086     0
2     다사551087     0
3     다사551088     0
4     다사552085     0
...        ...   ...
4505  다사646052     0
4506  다사646053     0
4507  다사647050     0
4508  다사647051     0
4509  다사647052     0

[4510 rows x 2 columns]

## 모든 변수 병합

In [ ]:
# 격자별로 모든 변수를 합치기 위한 기준 데이터: data2(어린이교통사고)

osan = data2.copy()
osan = osan.rename(columns={'accident_cnt':'사고횟수'})

In [ ]:
# 전처리한 변수들을 기준 데이터(data2)에 'gid'열을 기준으로 병합

osan = pd.merge(osan, acc_buf, on='gid', how='left')
osan = pd.merge(osan, schzone, on='gid', how='left')
osan = pd.merge(osan, elementary, on='gid', how='left')
osan = pd.merge(osan, kindergarden, on='gid', how='left')
osan = pd.merge(osan, crosswalk, on='gid', how='left')
osan = pd.merge(osan, buildings, on='gid', how='left')
osan = pd.merge(osan, bus_stop, on='gid', how='left')
osan = pd.merge(osan, physical_fac, on='gid', how='left')
osan = pd.merge(osan, academy, on='gid', how='left')
osan = pd.merge(osan, traffic_light, on='gid', how='left')
osan = pd.merge(osan, bump, on='gid', how='left')
osan = pd.merge(osan, cctv, on='gid', how='left')
osan = pd.merge(osan, sign, on='gid', how='left')
osan = pd.merge(osan, camera, on='gid', how='left')
osan = pd.merge(osan, var_data, on='gid', how='left')
osan = pd.merge(osan, park_cross, on='gid', how='left')
osan = pd.merge(osan, time, on='gid', how='left')
osan = pd.merge(osan, freq, on='gid', how='left')
osan = pd.merge(osan, traffic, on='gid', how='left')
osan = pd.merge(osan, parked_car, on='gid', how='left')
osan = pd.merge(osan, float_population, on='gid', how='left')

In [ ]:
# osan 데이터 저장할 때

#osan.to_file('osan_data.geojson', driver='GeoJSON')

## 합성 데이터 생성

In [ ]:
# osan_data를 불러올 때
#osan_data = gpd.read_file('osan_data.geojson')

# osan_data를 위에서 병합한 데이터로 사용할 때
osan_data = osan.copy()

### 합성데이터 생성 함수: SMOTE()

In [ ]:
from random import randrange, choice
from sklearn.neighbors import NearestNeighbors

def SMOTE(T, N, k):
    
    n_minority_samples, n_features = T.shape

    if (N % 100) != 0:
        raise ValueError("N must be < 100 or multiple of 100")
        
    N = int(N/100)                                                         # N은 1,2,3 등 정수값 저장
    n_synthetic_samples = N * n_minority_samples                           # (원본데이터의 행 * N) 만큼 합성데이터 행 만들 것
    S = np.zeros(shape=(n_synthetic_samples, n_features),dtype=float)      # S는 합성데이터 저장을 위한 데이터프레임
    
    # 기본 학습 모델: KNN
    neigh = NearestNeighbors(n_neighbors = k)                              # 합성데이터를 만들기 위한 기본 모델은 KNN
    neigh.fit(T)                                                           # 원본데이터로 KNN 모델 학습
    
    # 합성데이터 만들기
    for i in range(n_minority_samples):                                    # 원본데이터의 행의 수 만큼 반복
        nn = neigh.kneighbors([T[i]], return_distance=False)               # nn은 원본데이터의 i번째 행에서 가장 가까운 행 K개 모음
        for n in range(N):                                                      # N번 반복할 것
            nn_index = choice(nn[0])                                             # nn_index는 nn에서 K개 중 한개 랜덤하게 선택
            while nn_index == i:                                                # NOTE: nn은 T[i]를 포함. nn_index로 i를 뽑지 않기 위해 
                nn_index = choice(nn[0])
                                                                            # i번째 원본데이터의 행에서 가장 가까운 K개의 행에서 뽑힌 행
            dif = T[nn_index] - T[i]                                        # dif는 뽑힌 행과 i번째 원본데이터의 행의 각 변수값의 차이
            gap = np.random.random()                                        # gap은 dif에 곱해주기 위한 0~1 사이 랜덤값
            S[n + i * N, :] = T[i,:] + gap * dif[:]                        # 합성데이터 구성: 원본데이터의 i번쩨 행에서 dif 와 gap을 곱한
                                                                            # 랜덤 오차항을 더해서 구성
    return S

# NOTE: 여러 변수들의 상관성을 고려하기 위해 합성데이터를 만들 때 KNN 모형을 중심으로 합성데이터 구성
# 요약: i번째 행의 합성데이터를 만들기 위한 과정
#         1. i번째 행과 가장 유사한 K개의 행 추출(KNN 모형을 통해)
#         2. K개의 행 중에서 랜덤하게 하나 선택
#         3. i번째 행과 선택된 행의 각 변수값의 차이를 구함
#         4. 구해진 차이에 0~1 만큼의 랜덤값을 곱해 오차항을 구함
#         5. 원본데이터의 i번째 행에 대응하는 합성데이터는 원본데이터의 [i번째 행 + 위에서 구해진 오차항] 으로 생성

### 합성 데이터 생성 과정

In [ ]:
# 원본 데이터 정렬

clist   =   ['gid','geometry','사고횟수','사고횟수_가중치',
           
            '단속카메라','도로안내표지','과속방지턱','스쿨존',
            '횡단보도_전체면적','횡단보도_포함면적','신호등','단속횟수','단속횟수_횡단보도위',
            'traffic_sum','traffic_mean','freq_sum','freq_mean','time_sum','time_mean',
            
            '초등학교_100m', '초등학교_300m', '초등학교_500m', '초등학교_가중치',
            '유치원_100m', '유치원_300m', '유치원_500m', '유치원_가중치',
            '유동인구','cctv','버스정류장','체육시설','학원','car_cnt','pop_all','pop_child',
            'building','house','office']

osan_data = osan_data.loc[:, clist]

In [ ]:
# clist 중 'gid', 'geometry' 를 제외한 나머지 변수로 합성 데이터 생성

raw_data = osan_data.copy()
raw_data = raw_data.iloc[:, range(2, len(osan_data.columns))]
raw_data_arr = np.array(raw_data)


# SMOTE() 함수 적용

syn = SMOTE(raw_data_arr,100,10)


# 원본데이터로 새롭게 만든 합성데이터 저장

syn_data = osan_data.copy()
syn_data.iloc[:, range(2, len(syn_data.columns))] = syn

## 최종 데이터 : osan(원본) / syn(합성)

In [ ]:
osan_dataset = osan_data.copy()
syn_dataset = syn_data.copy()

### 원본 및 합성 데이터에 region_type 변수 생성

In [ ]:
# 원본데이터에 region_type 변수 생성

house_p = osan_data.house / (osan_data.building + 0.001)           # building의 개수가 0인 격자 있기에 비율 계산할 분모에 0.001 더함
office_p = osan_data.office / (osan_data.building + 0.001)
other_p = 1- house_p - office_p                                    # house_p: 주거용 건물의 비율 / office_p: 사무용 건물의 비율 / other_p: 기타 건물 비율

region_type = []

for i in range(len(house_p)):                                      # 가장 높은 건물 비율로 해당 격자의 region_type 정함                 
    if max(house_p[i], office_p[i], other_p[i])==house_p[i]:       # region_type = HS: 주거용 / OF: 사무용 / OTH: 기타
        region_type.append('HS')
    elif max(house_p[i], office_p[i], other_p[i])==office_p[i]:
        region_type.append('OF') 
    else:
        region_type.append('OTH')
        
osan_dataset['region_type'] = region_type
#osan_dataset['region_type'] = osan_dataset.region_type.astype('category')

In [ ]:
# 합성데이터에 region_type 변수 생성

house_p = syn_data.house / (syn_data.building + 0.001)
office_p = syn_data.office / (syn_data.building + 0.001)
other_p = 1- house_p - office_p

region_type = []

for i in range(len(house_p)):
    if max(house_p[i], office_p[i], other_p[i])==house_p[i]:
        region_type.append('HS')
    elif max(house_p[i], office_p[i], other_p[i])==office_p[i]:
        region_type.append('OF') 
    else:
        region_type.append('OTH')
        
syn_dataset['region_type'] = region_type
#syn_dataset['region_type'] = syn_dataset.region_type.astype('category')

### 원본 및 합성 데이터에 float_type 변수 생성

In [ ]:
# 원본데이터에 float_type 변수 생성

float_type = []                                      # 데이터의 유동인구 변수의 값 범위: 0~1000

for i in range(len(osan_data.유동인구)):
    if osan_data.유동인구[i] > 40:                   # 대략 상위 35%의 유동인구 격자: 유동인구 40 이상
        float_type.append('H')
    elif osan_data.유동인구[i] < 1:                  # 대략 하위 35%의 유동인구 격자: 유동인구 1 이하
        float_type.append('L')
    else:
        float_type.append('M')
        
osan_dataset['float_type'] = float_type
#osan_dataset['float_type'] = osan_dataset.float_type.astype('category')

In [ ]:
# 합성데이터에 float_type 변수 생성

float_type = []

for i in range(len(syn_data.유동인구)):
    if syn_data.유동인구[i] > 40:
        float_type.append('H')
    elif syn_data.유동인구[i] < 1:
        float_type.append('L')
    else:
        float_type.append('M')
        
syn_dataset['float_type'] = float_type
#syn_dataset['float_type'] = syn_dataset.float_type.astype('category')

### region_type / float_type 원-핫 인코딩

In [ ]:
# 머신러닝에 범주형 변수 사용하기 위해 원-핫 인코딩

osan_dataset = pd.concat([osan_dataset, pd.get_dummies(osan_dataset.loc[:,['region_type','float_type']])], axis=1)
syn_dataset = pd.concat([syn_dataset, pd.get_dummies(syn_dataset.loc[:,['region_type','float_type']])], axis=1)

## 최종 데이터 저장

In [ ]:
osan_dataset.to_file('osan.geojson', driver='GeoJSON')
syn_dataset.to_file('syn.geojson', driver='GeoJSON')

### 데이터를 생성할 때 근소한 차이가 있을 수 있으니, 보고서와 같은 결과를 얻기 위해서는 별도로 첨부한
###  osan_dataset.geojson / syn_dataset.geojson을 사용하셔야 합니다.
#### 'osan.geojson' 대신 'osan_dataset.geojson'(별도 첨부)
#### 'syn_geojson' 대신 'syn_dataset.geojson'(별도 첨부)